@font-face {
  font-family: 'Some-Time-Later';
  src: url(./Some\ Time\ Later.otf);
}

body,
p{
  padding: 0;
  margin: 0;
}

html,
body{
  height: 100%;
}
html{
  background: linear-gradient(0deg, rgba(7,136,255,1) 16%, rgba(0,212,255,1) 65%);
  background-attachment: fixed;
}

body>#content{
  font-family: 'Some-Time-Later';
  display: grid;
  grid-template: auto minmax(540px, 1fr) auto / 1fr auto 1fr;
  font-size: 20px;
  height: 100%;
}

.bg-container{
  grid-area: 1 / 1 / 4 / 4 ;
  overflow: hidden;
  display: flex;
  justify-content: center;
  z-index: -1;
}

.background{
  transform: scale(240%);
  margin: -220px 0 220px;
}

button{
  font-family: inherit;
  display: flex;
  align-content: center;
  justify-content: center;
}

header{
  grid-area: 1 / 1 / 2 / 4 ;
  display: flex;
  justify-content: center;
  gap: 100px;
  padding: 20px 0 10px 0;
  border: 1px solid coral;
}

header>span>button{
  width: 130px;
  padding: 10px 10px 6px;
  font-size: inherit;
}

#content>.center{
  grid-area: 2 / 2 / 3 / 3 ;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

#content>.center>div{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 700px;
  margin: 50px 8px;
  border-radius: 10px;
}

.tab1{
  justify-content: space-between;
}

.location>p{
  text-align: center;
  color: seashell;
  text-shadow: 0 0 3px black;
}

.brand-container{
  text-align: center;
}

.restaurant-title{
  font-size: 54px;
  letter-spacing: 2px;
  color: maroon;
  padding: 0;
  margin: 0;
  --title-text-shadow-color: seashell ;
  --title-text-shadow-blur: 2px;
  text-shadow:
  -2px -2px var(--title-text-shadow-blur) var(--title-text-shadow-color),
   2px -2px var(--title-text-shadow-blur) var(--title-text-shadow-color),
  -2px 2px var(--title-text-shadow-blur) var(--title-text-shadow-color),
   2px 2px var(--title-text-shadow-blur) var(--title-text-shadow-color),
  -3px 0 var(--title-text-shadow-blur) var(--title-text-shadow-color),
   3px 0 var(--title-text-shadow-blur) var(--title-text-shadow-color),
   0 -3px var(--title-text-shadow-blur) var(--title-text-shadow-color),
   0 3px var(--title-text-shadow-blur) var(--title-text-shadow-color);
}

.menu{
  background-color: beige;
  padding: 30px;
  width: 500px;
  box-shadow: 0px 0px 8px 8px rgba(255, 255, 255, 0.76);
  margin: 40px 0 0 0;
  border: 3px solid maroon;
  border-radius: 4px;
}

.menu>h2{
  font-size: 60px;
  margin: 0;
  color: maroon;
  letter-spacing: 2px;
  text-align: center;
}

.menu>div.container{
  display: flex;
  gap: 20px;
}

.item-display-container{
  padding: 20px;
  background-image: url(./glow.svg) ,radial-gradient(rgb(255, 255, 79), coral);
  background-position: center;
  background-size: 150%;
  height: 170px;
  width: 180px;
  align-self: center;
  display: flex;
  align-content: center;
  justify-content: center;
}

.item-display{
  width: inherit;
  height: auto;
  object-fit: scale-down;
}

.menu>div.container>span:last-child{
  flex-grow: 1;
}

ul.leaders>p{
  margin-top: 10px;
}

ul.leaders {
  max-width: 40em;
  padding: 0;
  overflow-x: hidden;
  list-style: none;
  margin: 0;
}

ul.leaders li{
  padding: 8px 0;
}

ul.leaders li>*{
  pointer-events: none;
}

ul.leaders li:before {
  float: left;
  width: 0;
  white-space: nowrap;
  content:
". . . . . . . . . . . . . . . . . . . . "
". . . . . . . . . . . . . . . . . . . . "
". . . . . . . . . . . . . . . . . . . . "
". . . . . . . . . . . . . . . . . . . . ";
pointer-events: none;
}

ul.leaders span:first-child {
  padding-right: 0.33em;
  background: beige;
}

ul.leaders span + span {
  float: right;
  padding-left: 0.33em;
  background: beige;
}

ul.leaders li:hover{
  color: seagreen;
}

.tab3{
  padding: 10px 0;
}

.msg-container{
  width: 440px;
  text-align: center;
  background-color: seashell;
  padding: 30px 30px 10px;
  border: 4px ridge rgb(255, 223, 80);
  display: flex;
  flex-direction: column;
}

.tab3>p{
  width: 510px;
  text-align: center;
}

.representative{
  text-align: center;
  margin: 20px 0 0 0;
}

.disclaimer{
  font-size: 8px;
  margin: 4px 0 0 0;
  width: 1400px;
  text-align: center;
  transform: scale(.3, .3);
  align-self: center;
}

.restaurant-rep{
  margin-top: 10px;
  height: 440px;
  width: 400px;
}

.msg-from-rep{
  margin-top: 10px;
}

footer{
  grid-area: 3 / 1 / 4 / 4 ;
  border: 1px solid crimson;
  height: 100px;
  text-align: center;
  padding: 20px 0 0 0;
}